In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd
import psycopg2
from config import postgres

In [2]:
#import the CSV Files
csv_path = "data/customer_clean.csv"
customer_clean = pd.read_csv(csv_path)
customer_clean.head()

  customerno customertype
0     3XL001       Retail
1     ACE001       Retail
2      AGOPS       Retail
3    AGSALES       Retail
4     AM3001       Retail

In [3]:
#import the CSV Files
csv_path = "data/item_clean.csv"
item_clean = pd.read_csv(csv_path)
item_clean.head()

,itemno,postinggroup,desc1,desc2,desc3,desc4
0,0020-00Z,fgseedki,14vps,saladlovers,-,-
1,0021-00Z,fgseedki,14p,herbloversseedkit,-,-
2,100235-0000,raw,flatplantspacerchina,-,-,-
3,100824-0000,raw,supergrownutrients3poz,-,-,-
4,100828-0000,accessory,aerovoirstand,-,-,-

In [10]:
#import the CSV Files
csv_path = "data/sales_clean.csv"
sales_clean = pd.read_csv(csv_path)
sales_clean.head()

,customerno,yr,mo,fiscalquarter,itemno,postinggroup,units,sales,customertype,desc1,desc2,desc3,desc4
0,3XL001,2014,1,Q4,800501-0208,fgseedki,300.0,210000.0,Retail,7p,cherrytomato,-,-
1,3XL001,2014,1,Q4,800528-0208,fgseedki,100.0,70000.0,Retail,7p,growanything,-,-
2,3XL001,2014,1,Q4,800544-0208,fgseedki,300.0,210000.0,Retail,7p,chilipepper,-,-
3,3XL001,2014,1,Q4,970133-0100,accessory,30.0,46500.0,Retail,aerovoirwithstand,-,-,-
4,3XL001,2014,5,Q1,800500-0208,fgseedki,500.0,350000.0,Retail,7p,gh,-,-

In [5]:
#create the tables in alchemy
class customer_clean(Base):
    __tablename__ = 'customer_clean'
    customerno = Column(String, primary_key=True)
    customertype = Column(String)

    
class item_clean(Base):
    __tablename__ = 'item_clean'
    itemno = Column(String, primary_key=True)
    postinggroup = Column(String)
    desc1 = Column(String)
    desc2 = Column(String) 
    desc3 = Column(String) 
    desc4 = Column(String) 
    
class sales_clean(Base):
    __tablename__ = 'sales_clean'
    customerno = Column(String, primary_key=True) 
    yr = Column(Integer) 
    mo = Column(Integer)
    fiscalquarter = Column(String)
    itemno = Column(String)
    units = Column(Integer)
    sales = Column(Integer)
    desc1 = Column(String)
    desc2 = Column(String) 
    desc3 = Column(String) 
    desc4 = Column(String)

In [6]:
#check the tables
Base.metadata.tables

immutabledict({'customer_clean': Table('customer_clean', MetaData(bind=None), Column('customerno', String(), table=<customer_clean>, primary_key=True, nullable=False), Column('customertype', String(), table=<customer_clean>), schema=None), 'item_clean': Table('item_clean', MetaData(bind=None), Column('itemno', String(), table=<item_clean>, primary_key=True, nullable=False), Column('postinggroup', String(), table=<item_clean>), Column('desc1', String(), table=<item_clean>), Column('desc2', String(), table=<item_clean>), Column('desc3', String(), table=<item_clean>), Column('desc4', String(), table=<item_clean>), schema=None), 'sales_clean': Table('sales_clean', MetaData(bind=None), Column('customerno', String(), table=<sales_clean>, primary_key=True, nullable=False), Column('yr', Integer(), table=<sales_clean>), Column('mo', Integer(), table=<sales_clean>), Column('fiscalquarter', String(), table=<sales_clean>), Column('itemno', String(), table=<sales_clean>), Column('units', Integer(), table=<sales_clean>), Column('sales', Integer(), table=<sales_clean>), Column('desc1', String(), table=<sales_clean>), Column('desc2', String(), table=<sales_clean>), Column('desc3', String(), table=<sales_clean>), Column('desc4', String(), table=<sales_clean>), schema=None)})

In [7]:
#create the engine
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/ETL_project')

In [8]:
engine.table_names()

['item_clean', 'sales_clean', 'customer_clean']

In [11]:
sales_clean.to_sql(name='sales_clean', con=engine, if_exists='replace', index=False)

NoSuchTableError: sales_clean

In [ ]:
item_clean.to_sql(name='item_clean', con=engine, if_exists='replace', index=False)

In [ ]:
customer_clean.to_sql(name='customer_clean', con=engine, if_exists='replace', index=False)